.container {
    background-color: whitesmoke;
    display: grid;
    grid-template-areas: "header header" "side content" "footer footer";
    height: 100vh;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1px;
}

.nav-top{
    background-color: #ffffff;
    grid-area: header;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 5001;
    position: sticky;
    top: 0;
    align-items: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0,0, .12), 0 2px 4px 0 rgba(0, 0, 0, .14);
}

.nav-top li.logo {
    margin-right: 150vh;
}

.nav-top ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: .5em;
    margin: 0;
}

.nav-top li{
    margin: 0 1em;
    
}

.nav-top ul li img{
    
    height: 35px;
}

.nav-top-logo{
    max-width: 128rem;
    margin-right: 110vh;
}

.nav-top-img{
    width: 140px;
}

.nav-top-link{
    margin: 0 1em;
    text-decoration-line:none ;
}

.nav-top a{
    text-decoration: none;
}

.nav-side{
    grid-area: side;
    background-color: rgb(196, 255, 255);
    margin-right: 0.5rem;
    position: sticky;
    top: 10px;
}

.nav-side ul{
    display: flex;
    list-style: none;
    padding: .5em;
    margin: 0;
    flex-direction: column;
}

.nav-side ul li{
    margin: 1em 1em;
}

.nav-side ul li a{
    text-decoration-line:none ;
}

.nav-side-link{
    margin: .5em 1em;
    text-decoration-line: none;
}

.main-content{
    grid-area: content;
    width: 100%;
    margin: 0;
    background-color: #bdbdff;
    display: flex;
}

.footer{
    grid-area: footer;
    background:#7676fc ;
}

.footer h2{
    font-size: 14px;
    color: #d3d3d3;
}